doctype html
html(lang='ko')
  head
    title project_anmg
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
   
  body
    ul
      each exporttable in project_anmg
        form(action='/details' method='post')
          a(href='/details' target='_blank')=exporttable.map_name
          input(type='submit' value='details')
          br
          iframe(width='560' height='315' src=exporttable.map_url frameborder='0' allowfullscreen)
          br
          br
          li(project_anmg.distance)=exporttable.distance+' 미터'
          li(project_anmg.difficulty)=exporttable.difficulty+' 수준'
          li(project_anmg.duration_h)=exporttable.duration_h+' 시간'
          li(project_anmg.budget)=exporttable.budget+' 원'
          li(project_anmg.name)=exporttable.course_name_2
          li(project_anmg.admin)=exporttable.enroll_admin+' 원'
          br
          br