doctype html
html(lang='ko')
  head
    title 모두의 하이킹
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
    style.
      body {
      margin-top: 30px;
      margin-bottom: 30px;
      margin-right: 30px;
      margin-left: 30px;
      }
      h1 {
      font-weight:bold;
      color:#4a4242;
      }
      #name {
      font-weight:bold;
      color:#3d3dd4;
      }
      
  body
  .container
  h1 
    | 바로 당신만을 위한,
    br
    br
    | 하이킹 코스가 여기있네요!
  br
  br
  ul
    each course_test in trekking
      li(id='name' trekking.course_name)=course_test.course_name     
      li(trekking.course_distance)=course_test.course_distance+' 미터'
      li(trekking.course_difficulty)=course_test.course_difficulty+' 수준'
      li(trekking.course_budget)=course_test.course_budget+' 원'
      li(trekking.course_duration)=course_test.course_duration+' 분'
      li(trekking.course_summit)=course_test.course_summit+' 미터'
      li(trekking.course_description)=course_test.course_description
      br
      br
  h3    
    a(href='/') 다시 검색하기