doctype html
html(lang='ko')
  head
    title project_anmg
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')    
    style.
      #name{
      color:#3f3fd0;   
      font-weight:bold;
      font-size:120%;
      }
      li{
      list-style-type:none;
      padding-top:5px;
      padding:2px;
      }
      #box{
      border:2px #c1c1c1 solid;
      }
      iframe{
      padding:2px;
      }
      th{
      color:#3f3fd0;
      font-size:80%
      }
      td{
      font-weight:bold;
      font-size:60%;
      }
  body
    .navbar.navbar-inverse.navbar-fixed-top
      .container-fluid
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='#myNavbar')
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='/') project_anmg
            .span.glyphicon.glyphicon-grain(style='color:green;')
        #myNavbar.collapse.navbar-collapse
          ul.nav.navbar-nav.navbar-right
            li
              a(href='/')
                span.glyphicon.glyphicon-user
                | Sign Up
            li
              a(href='/')
                span.glyphicon.glyphicon-log-in
                | Log in
                
    .container(style='margin-top:60px;')
      each exporttable in project_anmg
        #box
          iframe(src=exporttable.map_url frameborder='0' allowfullscreen width='100%' height='300')
          br
          li  
            table.table.table-hover.table-inverse
              thead
                tr
                  th 항목
                  th 내용                  
              tbody
                tr
                  th(scope='row')
                tr
                  th(scope='row') 산 이름
                  td(project_anmg.mt_name)=exporttable.mt_name
                tr
                  th(scope='row') 코스의 거리
                  td(project_anmg.distance_trans)=exporttable.distance_trans  
                tr
                  th(scope='row') 완주 시간
                  td(project_anmg.duration)=exporttable.duration
                tr
                  th(scope='row') 코스 난이도
                  td(project_anmg.difficulty_type)=exporttable.difficulty_type
                tr
                  th(scope='row') 코스 타입
                  td(project_anmg.duration_type)=exporttable.duration_type
                tr
                  th(scope='row') 1명당 예산
                  td(project_anmg.budget)=exporttable.budget+' 원' 
                tr
                  th(scope='row') 시작점 고도
                  td(project_anmg.altitude_start)=exporttable.altitude_start+' m'     
                tr
                  th(scope='row') 종료점 고도
                  td(project_anmg.altitude_end)=exporttable.altitude_end+' m'  
                tr
                  th(scope='row') 최고점 고도
                  td(project_anmg.altitude_top)=exporttable.altitude_top+' m'  
                tr
                  th(scope='row') 등반 표고차
                  td(project_anmg.altitude_vertical_gap)=exporttable.altitude_vertical_gap+' m'
                tr
                  th(scope='row') 코스 스타일
                  td(project_anmg.expectation_type)=exporttable.expectation_type 
                tr
                  th(scope='row') 복귀 스타일
                  td(project_anmg.route_type)=exporttable.route_type 
                tr
                  th(scope='row') 추천 평점
                  td(project_anmg.recommend_type)=exporttable.recommend_type
                tr
                  th(scope='row') 시작점 주소
                  td(project_anmg.origin_address)=exporttable.origin_address 
                tr
                  th(scope='row') 종료점 주소
                  td(project_anmg.destination_address)=exporttable.destination_address
                tr
                  th(scope='row') 추천 운영자
                  td(project_anmg.enroll_admin)=exporttable.enroll_admin  
                tr
                  th(scope='row') 트레킹 일자
                  td(project_anmg.enroll_date)=exporttable.enroll_date
        br          